<%= turbo_stream.replace "flash_message" do %>
  <div id="flash_message">
    <%= render "shared/flash_message" %>
  </div>
<% end %>

<% if @comment.errors.any? %>
  <!-- ãƒãƒªãƒ‡ãƒ¼ã‚·ãƒ§ãƒ³ã‚¨ãƒ©ãƒ¼æ™‚ -->
  <%= turbo_stream.replace "comment_form",
        partial: "comments/form",
        locals: { commentable: @commentable, comment: @comment } %>
<% else %>
  <!-- æˆåŠŸæ™‚ -->
  <%= turbo_stream.replace "comment_count" do %>
    <span id="comment_count">
      ðŸ’¬ ã‚³ãƒ¡ãƒ³ãƒˆï¼ˆ<%= @commentable.comments.count %>ï¼‰
    </span>
  <% end %>

  <%= turbo_stream.prepend "comments",
        partial: "comments/comment",
        locals: { comment: @comment } %>

  <%= turbo_stream.replace "comment_form",
        partial: "comments/form",
        locals: { commentable: @commentable, comment: Comment.new } %>
<% end %>
