<h1 class="pb-5 mt-10 text-center font-bold text-green-700 text-4xl">
  🌱 投稿の詳細 🌱
</h1>

<div class="flex justify-center px-4 mb-16">
  <div class="w-full max-w-2xl flex flex-col space-y-8">

    <!-- 投稿カード -->
    <div class="bg-white rounded-xl shadow p-6">
      <% if @post.image.attached? %>
        <%= image_tag @post.display_image, class: "w-full relative max-h-[600px] overflow-hidden rounded-lg mb-4" %>
      <% end %>

      <h1 class="text-2xl font-bold text-green-700 mb-2">
        <%= @post.title %>
      </h1>

      <p class="text-gray-700 leading-relaxed mb-4">
        <%= simple_format(@post.body) %>
      </p>

      <div class="flex items-center gap-2 mt-2 mb-2">
        <% if @post.user.avatar.attached? %>
          <%= image_tag @post.user.avatar_variant(120), class: "rounded-full border object-cover w-10 h-10" %>
        <% else %>
          <%= image_tag "default_avatar.png", class: "rounded-full border object-cover w-10 h-10" %>
        <% end %>
        <span class="text-sm font-medium text-gray-700">
          <%= @post.user.name %>
        </span>
      </div>

      <div class="flex justify-between items-center mt-3">
        <!-- いいね -->
        <%= render "likes/like_button", likeable: @post %>

        <!-- コメント数 -->
        <h3 class="text-sm font-bold text-gray-700">
          <span id="comment_count">
            💬 コメント（<%= @post.comments.count %>）
          </span>
        </h3>
      </div>

      <%= render "shared/ogp", title: @post.title, type: :post %>

      <div class="flex justify-end mt-3 gap-3">
        <% if @post.user == current_user %>
          <%= link_to "編集", edit_post_path(@post), class: "bg-green-500 text-white py-2 px-3 rounded hover:bg-green-700" %>
          <%= link_to "削除", post_path(@post), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか?" }, class: "bg-red-500 text-white py-2 px-3 rounded hover:bg-red-700" %>
        <% end %>
      </div>
    </div>

    <!-- コメントカード（投稿の下） -->
    <div class="bg-white shadow-lg border border-gray-200 rounded-2xl p-6">
      <h3 class="text-lg font-bold text-gray-700 mb-4">
        コメント
      </h3>

      <!-- コメントフォーム -->
      <div id="comment_form" class="mb-2">
        <%= render "comments/form", commentable: @post, comment: Comment.new %>
      </div>

      <!-- コメント一覧 -->
      <h3 class="text-lg font-bold text-gray-700 mt-2">
        コメント一覧
      </h3>
      <div id="comments" class="space-y-4">
        <%= render @comments %>
      </div>
    </div>

  </div>
</div>
