<div class="flex grow items-start justify-center p-8">
  <div class="w-full max-w-6xl">
    <h1 class="text-center text-4xl font-bold text-green-700 mb-10">🌱習慣の一覧🌱</h1>

    <% if @habits.present? %>
      <!-- ▼ ここで 3列のグリッドレイアウトを作る -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <% @habits.each do |habit| %>
          <!-- ▼ カードデザイン -->
          <div class="bg-white shadow-lg border-green-300 border-3 rounded-xl p-6 hover:shadow-xl transition">
            <h2 class="text-green-700 font-bold text-xl mb-4">🌿 <%= habit.title %></h2>

            <p class="text-gray-700 mb-2">
              <span class="font-semibold">頻度：</span>
              <%= t("activerecord.attributes.habit.frequency_values.#{habit.frequency}") %>
            </p>

            <p class="text-gray-700">
              <span class="font-semibold">作成日：</span>
              <%= l habit.created_at.in_time_zone('Asia/Tokyo'), format: :short %>
            </p>

            <!-- 習慣詳細ボタン(ローカル変数を渡す) -->
            <p class="ml-63">
              <%= link_to "詳細", habit_path(habit), class: "bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-3 rounded-lg shadow-md transition" %>
            </p>
          </div>
        <% end %>
      </div>

    <% else %>
      <p class="text-center font-bold text-2xl text-gray-600">登録されている習慣はありません。</p>
    <% end %>
  </div>
</div>
<%= render "back" %>
