<h1 class="pb-5 mt-10 text-center font-bold text-green-700 text-4xl">🌱 習慣の詳細 🌱</h1>

<!-- 全体を中央寄せ -->
<div class="flex justify-center px-4">

  <!-- カード本体 -->
  <div class="w-full max-w-2xl bg-white shadow-xl border border-green-300 rounded-2xl p-8 flex flex-col space-y-6 hover:shadow-2xl transition">

    <!-- 公開か非公開かを表示 -->
    <div class="flex justify-between items-center">
      <!-- ユーザー名表示 -->
      <p class="text-gray-600 text-lg"><%= @habit.user.name %></p>

      <% if @habit.is_public === true %>
        <div class="border-2 border-green-600 text-white font-semibold bg-green-500 px-3 py-2 rounded-3xl">
          公開中
        </div>
      <% else %>
        <div class="border-2 border-gray-600 text-white font-semibold bg-gray-500 px-3 py-2 rounded-3xl">
          非公開
        </div>
      <% end %>
    </div>

    <!-- 習慣タイトル -->
    <h2 class="text-center text-gray-700 font-bold text-2xl">
      <span class="text-green-800">習慣タイトル：</span>
      <%= @habit.title %>
    </h2>

    <!-- 頻度 -->
    <p class="text-center text-xl font-semibold text-gray-700">
      <span class="text-green-800">頻度：</span>
      <%= t("activerecord.attributes.habit.frequency_values.#{@habit.frequency}") %>
    </p>

    <!-- 達成率 -->
    <div class="mb-2 text-gray-700 font-semibold">
      <span class="text-green-800">達成率: </span>
        <%= @habit.achievement_rate(@habit.user, @week_start) %>%
    </div>

      <div class="w-full bg-gray-200 rounded-full h-3">
        <div class="bg-green-500 h-3 rounded-full transition-all duration-500" style="width: <%= @habit.achievement_rate(@habit.user, @week_start) %>%;"></div>
      </div>

    <!-- ボタン -->
    <div class="flex justify-center space-x-4 pt-4">
      <% if @habit.user === current_user %>
        <%= link_to "編集", edit_habit_path(@habit),
              class: "bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-5 rounded-lg shadow-md transition" %>

        <%= link_to "削除", habit_path(@habit),
              data: { turbo_method: :delete, turbo_confirm: "削除しますか?" },
              class: "bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-5 rounded-lg shadow-md transition" %>

        <%= link_to "一覧に戻る", habits_path,
              class: "bg-lime-300 hover:bg-lime-600 text-white font-semibold py-2 px-5 rounded-lg shadow-md transition" %>
      <% end %>
    </div>
  </div>
</div>
