<!DOCTYPE html>
<html class="bg-white">
  <head>
    <title><%= content_for(:title) || "NatureHabit" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- スマホ（Safari)用背景色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="theme-color" content="#ffffff">

    <!-- favicon（SVG：最新ブラウザ） -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <!-- favicon（ICO：古いブラウザ用） -->
    <link rel="icon" href="/favicon.ico">

    <!-- iOS Safari 用 -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <!-- OGP -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="NatureHabit" />
    <meta property="og:description" content="自然と毎日を整える" />
    <meta property="og:image" content="<%= image_url('ogp.png') %>" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:site_name" content="NatureHabit" />

    <!-- X（Twitter）用 -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="NatureHabit" />
    <meta name="twitter:description" content="自然と毎日を整える" />
    <meta name="twitter:image" content="<%= image_url('ogp.png') %>" />
  </head>

  <body class="min-h-screen flex flex-col w-screen bg-cover bg-center bg-white bg-no-repeat" style="background-image: url('<%= asset_path("NatureHabit_000.jpeg") %>');"> <!-- アプリケーション全体のレイアウト -->
    <!-- ヘッダー挿入 -->
    <%= render 'shared/header' %>

    <!-- turbo_stream用flash_messageを表示 -->
    <div id="flash_message">
      <!-- フラッシュメッセージを挿入 -->
      <%= render 'shared/flash_message' %>
    </div>

    <main class="flex-1 bg-transparent">
    <%= yield %> <!-- 各viewが差し込まれる -->
    </main>

    <!-- フッター挿入-->
    <%= render 'shared/footer' %>
  </body>
</html>
