<!DOCTYPE html>
<html class="bg-white">
  <head>
    <title><%= content_for(:title) || "NatureHabit" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- スマホ（Safari)用背景色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="theme-color" content="#f0fdf4">
  </head>

  <body class="min-h-screen flex flex-col w-screen bg-cover bg-center bg-white bg-no-repeat" style="background-image: url('<%= asset_path("NatureHabit.jpeg") %>');"> <!-- アプリケーション全体のレイアウト -->
    <!-- ヘッダー挿入 -->
    <%= render 'shared/header' %>

    <!-- turbo_stream用flash_messageを表示 -->
    <div id="flash_message">
      <!-- フラッシュメッセージを挿入 -->
      <%= render 'shared/flash_message' %>
    </div>

    <main class="flex-1 bg-transparent">
    <%= yield %> <!-- 各viewが差し込まれる -->
    </main>

    <!-- フッター挿入-->
    <%= render 'shared/footer' %>
  </body>
</html>
